/* ==|=======================================================================
   Non-Modular/Landing Page
   ========================================================================== */

.n-organisation {
	width: 40em;
	text-align: left;
	margin: 0 auto;
	padding: 0;
} /* .n-organisation */