/* ==|=======================================================================
   Fonts/Colors
   ========================================================================== */

/* Colors */
.f-color1 {
	color: $color1;
}
.f-color2 {
	color: $color2;
}
.f-color3 {
	color: $color3;
}