/* ==|=======================================================================
   Fonts/Titles
   ========================================================================== */

.title-stripes {
	color: #7b9dac;
	font-size: 5em;
	text-align: center;
	text-transform: uppercase;
	overflow: hidden;
	margin: .5em 0;

	> span {
		position: relative;
		position: inline-block;
		
		&:after, &:before {
			content: "";
			position: absolute;
			background: url('../img/title-mod.png');
			width: 1000px;
			height: .7em;
			top: .2em;
		}
		&:after {
			right: -1020px;
		}
		&:before {
			left: -1020px;
		}
	}
}

.title-border {
	overflow: hidden;
	text-align: center;
	
	.title {
		color: #999;
		position: relative;
		
		&:after, &:before {
			content: "";
			position: absolute;
			width: 1000px;
			top: .5em;
			border-bottom: 1px solid #e6e6e6;
		}
		&:after {
			right: -865px;
		}
		&:before {
			left: -865px;
		}
		
	}
}