/* ==|=======================================================================
   No Modular/Home
   ========================================================================== */
/* line 5, ../../scss/non-modular/_organisation.scss */
#home {
  width: 40em;
  text-align: left;
  margin: 0 auto;
  padding: 0; }

/* .n-organisation */
