/* ==|====================
   Layout/Cols
   ======================= */

[class^="l-cols"],
[class*=" l-cols"] {
	.col {
		float: left;
		margin-right: 2%;

		&:last-child, &.last {
			margin-right: 0 !important;
		}
	}

	&.l-cols2 .col {
		width: 49%;
	}
	&.l-cols3 .col {
		width: 31.6666%;
		width: 31%\9; /* <=IE8 Hack */
	}
	&.l-cols4 .col {
		width: 23%;

		&.double {
			width: 47%;
		}
	}
}

/* ==|=======================================================================
   Responsive/Medium Screens
   ========================================================================== */

/* 1024x768 */
@media (max-width: 56em) {
	[class^="l-cols"],
	[class*=" l-cols"] {
		&.l-cols4 .col {
			width: 47.5%;
			margin-right: 5%;
			margin-bottom: 1.5em;

			&.second {
				margin-right: 0 !important;
			}

		}
	}
}


/* ==|=======================================================================
   Responsive/Small Screens
   ========================================================================== */
@media (max-width: 47em) {
	[class^="l-cols"],
	[class*=" l-cols"] {
		&.l-cols2 .col {
			float: inherit;
			margin-right: 0;
			width: 100% !important;
		}
		&.l-cols4 .col {
			/* Full only on small screens */
			&.small-full {
				width: 100%;
			}
		}
	}
}


/* ==|=======================================================================
   Responsive/Very Small Screens
   ========================================================================== */
@media (max-width: 15em) {
	[class^="l-cols"],
	[class*=" l-cols"] {
		&.l-cols4 .col {
			float: inherit;
			margin-right: 0;
			width: 100% !important;
		}
	}
}