/* ==|=======================================================================
   Layouts/Cols
   ========================================================================== */

[class^="l-cols"],
[class*=" l-cols"]  {
	.col {
		float: left;
		margin-right: 2%;
		
		&:last-child {
			margin-right: 0 !important;
		}
	}
	
	&.l-cols2 .col {
		width: 49%;
	}
	&.l-cols3 .col {
		width: 31.6666%;
	}
	&.l-cols4 .col {
		width: 23%;
		
		&.double {
			width: 47%;
		}
	}
}

@media (max-width: 500px) {
	[class^="l-cols"],
	[class*=" l-cols"] {
		.col {
			float: inherit;
			margin-right: 0;
			width: 100% !important;
		}
	}
}