/* ==|=======================================================================
   Layout/Wrapper
   ========================================================================== */

.l-constrained {
	max-width: $wrapper-width;
	padding: 0 20px;
	margin: 0 auto;
}