/* ===========================
   Base
   =========================== */

body {
    font-family: $font1;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.5;
}

a {
    color: $color-link;
    text-decoration: none;

    &:hover {
        color: $color-link-hover;
    }
}