/* ==|=======================================================================
   Helpers
   ========================================================================== */
   
/* Clear */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.cln { clear:none !important; }


/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

.opacity0 { opacity:0; display:none; }  

/* Display */
.dnone { display:none !important; }
.dib { display:inline-block !important; }
.intouchable { position:fixed; top:-100000px; }


/* =Layout
-------------------------------------------------------------- */

/* Float */
.fleft { float:left !important; }
.fright { float:right !important; }

/* Clear */
.cll { clear:left !important; }
.clr { clear:right !important; }
.clb { clear:both !important; }

/* Margin */
.m0auto { margin:0 auto !important; }
.mt0 { margin-top:0em !important; }
.mr0 { margin-right:0em !important; }
.ml0 { margin-left:0em !important; }
.mb0 { margin-bottom:0em !important; }
.ma0 { margin:0em !important; }

.mt05 { margin-top:0.5em !important; }
.mr05 { margin-right:0.5em !important; }
.ml05 { margin-left:0.5em !important; }
.mb05 { margin-bottom:0.5em !important; }
.ma05 { margin:0.5em !important; }

.mt1 { margin-top:1em !important; }
.mr1 { margin-right:1em !important; }
.ml1 { margin-left:1em !important; }
.mb1 { margin-bottom:1em !important; }
.ma1 { margin:1em !important; }

.mt2 { margin-top:2em !important; }
.mr2 { margin-right:2em !important; }
.ml2 { margin-left:2em !important; }
.mb2 { margin-bottom:2em !important; }
.ma2 { margin:2em !important; }

.mt3 { margin-top:3em !important; }
.mr3 { margin-right:3em !important; }
.ml3 { margin-left:3em !important; }
.mb3 { margin-bottom:3em !important; }
.ma3 { margin:3em !important; }

/* Padding */
.pa0 { padding:0 !important; }
.pt0 { padding-top:0em !important; }
.pr0 { padding-right:0em !important; }
.pl0 { padding-left:0em !important; }
.pb0 { padding-bottom:0em !important; }

.pa05 { padding:0.5 !important; }
.pt05 { padding-top:0.5em !important; }
.pr05 { padding-right:0.5em !important; }
.pl05 { padding-left:0.5em !important; }
.pb05 { padding-bottom:0.5em !important; }

.pt1 { padding-top:1em !important; }
.pr1 { padding-right:1em !important; }
.pl1 { padding-left:1em !important; }
.pb1 { padding-bottom:1em !important; }
.pa1 { padding:1em !important; }

.pt2 { padding-top:2em !important; }
.pr2 { padding-right:2em !important; }
.pl2 { padding-left:2em !important; }
.pb2 { padding-bottom:2em !important; }
.pa2 { padding:2em !important; }

.pt3 { padding-top:3em !important; }

/* Table display */
.d-table {
	display: table;
	> * {
		display: table-row;
		> * {
			display: table-cell;
		}
	}
}

/* Text-align */
.text-left { text-align:left !important; }
.text-center { text-align:center !important; }
.text-right { text-align:right !important; }

/* Width */
.w600 { width: 600px !important; }
.w550 { width: 550px !important; }

/* Height */
.h10 { height: 10px !important; }

/* Rounded */
.rounded4 { @include border-radius(4px); }

/* Border */
.border0 { border: none !important; }
.border-gl4 { border: solid 4px #eee; }
.border-gl8 { border: solid 8px #eee; }


/* =Fonts
-------------------------------------------------------------- */

/* Chart Colors */
.f-color1 { color: $color1; }
.f-color2 { color: $color2; }

/* Grey */
.f-grey { color: $grey; }
.f-grey-lighten1 { color: lighten($grey, 10%); }
.f-grey-lighten2 { color: lighten($grey, 20%); }
.f-grey-lighten3 { color: lighten($grey, 30%); }
.f-grey-lighten4 { color: lighten($grey, 40%); }

