// ==========================================================================
// Mixins
// ==========================================================================

@mixin border-radius($radius: 5px) {
  -webkit-border-radius: $radius; 
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin full-background() {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@mixin box-shadow($a, $b, $c, $color: #000) {
	-moz-box-shadow: $a $b $c $color;
	-webkit-box-shadow: $a $b $c $color;
	-o-box-shadow: $a $b $c $color;
	box-shadow: $a $b $c $color;
}

@mixin box-shadow-ie($a, $b, $c, $color: #000) {
	-moz-box-shadow: $a $b $c $color;
	-webkit-box-shadow: $a $b $c $color;
	-o-box-shadow: $a $b $c $color;
	box-shadow: $a $b $c $color;
	/* IE Hack */
	*border: solid 1px $color;
}

@mixin box-shadow-none() {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

@mixin box-shadow-inset($a, $b, $c, $color: #000) {
	-moz-box-shadow: inset $a $b $c $color;
	-webkit-box-shadow: inset $a $b $c $color;
	-o-box-shadow: inset $a $b $c $color;
	box-shadow: inset $a $b $c $color;
}

@mixin box-shadow-multiple($a, $b) {
	-moz-box-shadow: $a, $b;
	-webkit-box-shadow: $a, $b;
	-o-box-shadow: $a, $b;
	box-shadow: $a, $b;
}

@mixin animation($a) {
	-webkit-animation: $a;
	-moz-animation: $a;
	-ms-animation: $a;
	-o-animation: $a;
	animation: $a;
}

@mixin transition($transition: all, $duration: 0.2s, $ease: ease-out, $delay: 0s) {
  transition-property: $transition;
  transition-duration: $duration;
  transition-timing-function: $ease;
  transition-delay: $delay;
  /* Firefox 4 */
  -moz-transition-property: $transition;
  -moz-transition-duration: $duration;
  -moz-transition-timing-function: $ease;
  -moz-transition-delay: $delay;
  /* Safari and Chrome */
  -webkit-transition-property: $transition;
  -webkit-transition-duration: $duration;
  -webkit-transition-timing-function: $ease;
  -webkit-transition-delay: $delay;
  /* Opera */
  -o-transition-property: $transition;
  -o-transition-duration: $duration;
  -o-transition-timing-function: $ease;
  -o-transition-delay: $delay;
}

@mixin transitions-multiple ($transition_a, $transition_b) {
	transition: $transition_a, $transition_b;
	/* Firefox 4 */
	-moz-transition: $transition_a, $transition_b;
	/* Safari and Chrome */
	-webkit-transition: $transition_a, $transition_b;
	/* Opera */
	-o-transition: $transition_a, $transition_b;
}

@mixin black-opacity($opacity) {
	background: rgba(0,0,0,$opacity);
}

@mixin white-opacity($opacity) {
	background: rgba(255,255,255,$opacity);
}

@mixin gradient-linear($color1, $color2) {
	background:$color1; /* IE6-9 */
	background: -moz-linear-gradient(top, $color1 0%, $color2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $color1), color-stop(100%, $color2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $color1 0%, $color2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $color1 0%, $color2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, $color1 0%, $color2 100%); /* IE10+ */
	background: linear-gradient(top, $color1 0%, $color2 100%); /* W3C */
}

@mixin gradient-linear-custom($color1, $color2, $dir1, $dir2, $distance) {
	background: -moz-linear-gradient($dir1, $color1 0%, $color2 $distance); /* FF3.6+ */
	background: -webkit-gradient(linear, left $dir1, left $dir2, color-stop(0%, $color1), color-stop($distance, $color2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(dir1, $color1 0%, $color2 $distance); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient($dir1, $color1 0%, $color2 $distance); /* Opera 11.10+ */
	background: -ms-linear-gradient($dir1, $color1 0%, $color2 $distance); /* IE10+ */
	background: linear-gradient($dir1, $color1 0%, $color2 $distance); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color2', endColorstr='$color2',GradientType=0 ); /* IE6-9 */
}

@mixin gradient-linear-hover($color1, $color2) {
	@include gradient-linear($color1, $color2);
	
	&:hover {
		@include gradient-linear(darken($color1, 5%), darken($color2, 5%));
	}
}

@mixin scale($size) {
	-webkit-transform:scale($size);
	-moz-transform:scale($size);
	-o-transform:scale($size);
	-ms-transform:scale($size);
	transform:scale($size);
}

@mixin box-sizing($type) {
	-webkit-box-sizing: $type;
	-moz-box-sizing: $type;
	box-sizing: $type;  
}

@mixin background-clip($type) {
	-webkit-background-clip: $type;
	-moz-background-clip: $type;
	background-clip: $type;  
}

@mixin unselectable() {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin d-inline-block() {
	display: inline-block;
	/* IE6 Hack */
	*display: inline;
	*zoom: 1;
}

/* IE7 likes to collapse whitespace on either side of the inline-block elements.
// Ems because we're attempting to match the width of a space character. Left
// version is for form buttons, which typically come after other elements, and
// right version is for icons, which come before. Applying both is ok, but it will
// mean that space between those elements will be .6em (~2 space characters) in IE7,
// instead of the 1 space in other browsers. */
@mixin ie7-restore-left-whitespace() {
  *margin-left: .3em;

  &:first-child {
    *margin-left: 0;
  }
}

@mixin ie7-restore-right-whitespace() {
  *margin-right: .3em;
}

