/* ==|=======================================================================
   Base/Site Settings Load
   ========================================================================== */

body { 
	font-family: $font1;
	font-weight: 300;
	font-size: $font-size;
	line-height: $line-height;
	text-align: center;
	padding: 3em 0 5em;
	@include animation(fadeInDown 1s);
}

a {
	color: $link-color;
	text-decoration: none;
	@include transition(all);
}

h2 {
	font: 300 3.5em/1.5 $font1;
	margin: .6em 0 0;
}
h3 {
	margin-top: 2em;
}


::-moz-selection {
    background: $color1;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: $color1;
    color: #fff;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}