/* ==|=======================================================================
   Base/Site Settings
   ========================================================================== */

/* Fonts */
$font1: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font2: Georgia, serif;
$font-size: 1em;
$line-height: 1.5;

/* Colors */
$color1: #df2e30; /* Red */
$color2: #1894c4; /* Blue */ 
$link-color: $color1;
$grey: #5e5e5e; /* Grey */

/* Wrapper */
$wrapper-width: 1140px;

/* Sprite */
$sprite-default: url(images/sprite.png);