/* ==|=======================================================================
   Module/Button
   ========================================================================== */

.m-btn { 
	display: inline-block;
	padding: .4em 1em;
	font-size: 1.15em;
	margin-bottom: 0;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	@include gradient-linear(#ffffff, #e6e6e6);
	border: 1px solid #ccc;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-bottom-color: #b3b3b3;
	@include border-radius(2px);
	@include box-shadow(0, 2px, 1px, rgba(0, 0, 0, .15));
	font-weight: 400;
	
	/* States */
	&:hover {
		color: #333333;
		text-decoration: none;
		background-color: #e6e6e6;
		@include gradient-linear(#fefefe, #eee);
	}
	&:active {
		@include box-shadow-inset(0, 2px, 2px, rgba(0, 0, 0, .02));
	}
	
	/* Colors */
	&.color1 {
		@include gradient-linear(lighten($color1, 5%), $color1);
		border-color: $color1;
		color: #fff;
		text-shadow: 0 -1px 0 rgba(#000, .2);
		
		&:hover {
			@include gradient-linear($color1, darken($color1, 5%));
		}
	}
	&.color2 {
		@include gradient-linear(lighten($color2, 10%), $color2);
		border-color: $color2;
		color: #fff;
		text-shadow: 0 -1px 0 rgba(#000, .2);
		
		&:hover {
			@include gradient-linear(lighten($color2, 8%), $color2);
		}
	}
	
	/* Sizes */
	&.small {	
		font-size: .9em;
	}
	&.big {	
		padding: .6em 1.3em;
		font-size: 1.1875em; /* 19/16 */
	}
	
	/* Style */
	&.full {
		width: 100%;
		@include box-sizing(border-box);
	}
	
	/* Options */
	&.active, &.active:hover {
		border-color: #83C8E6;
		background: #ddedf4;
		color: #83C8E6;
		@include box-shadow(0, 0, 0, transparent);
		text-shadow: none;
	}
	
	/* Social */
	&.facebook {
		border-color: darken($facebook, 10%);
		@include gradient-linear(lighten($facebook, 10%), $facebook);
		color: #fff;
		text-shadow: 0 -1px 0 rgba(#000, .2);
		font-size: 1.6em !important;
		position: relative;
		padding: .3em 1em .3em 3em !important;
		overflow: hidden;
		
		&:hover {
			@include gradient-linear(lighten($facebook, 13%), lighten($facebook, 3%));
		}
		
		.icon {
			position: absolute;
			left: 1em;
			top: .4em;
			
			&:after {
				position: absolute;
				content: "";
				right: -.6em;
				top: -1em;
				border-right: 1px solid rgba(#1e376d, .8);
				border-left: 1px solid rgba(#fff, .1);
				height: 200%;
			}
		}
	}
	&.twitter {
		border-color: darken($twitter, 10%);
		@include gradient-linear(lighten($twitter, 10%), $twitter);
		color: #fff;
		text-shadow: 0 -1px 0 rgba(#000, .2);
		font-size: 1.6em !important;
		position: relative;
		padding: .3em 1em .3em 3em !important;
		overflow: hidden;
		
		&:hover {
			@include gradient-linear(lighten($twitter, 13%), lighten($twitter, 3%));
		}
		
		.icon {
			position: absolute;
			left: .8em;
			top: .5em;
			
			&:after {
				position: absolute;
				content: "";
				right: -.6em;
				top: -1em;
				border-right: 1px solid darken($twitter, 10%);
				border-left: 1px solid rgba(#fff, .1);
				height: 300%;
			}
		}
	}
	
}








