/* ==|=======================================================================
   Module/Filters
   ========================================================================== */

.m-filter {
	@include box-shadow(0, 1px, 3px, rgba(#000, .15));
	color: #fff;
	font-size: 1.2em;
	
	> * {
		@include gradient-linear-hover(lighten($color1, 9%), lighten($color1, 13%));
		float: left;
		border-bottom: solid 2px $color1;
		padding: .2em;
	}
	
	.item {
		@include border-radius(1em 0 0 1em);
		padding-right: .5em;
		padding-left: .9em;
		border-right: solid 1px $color1;
	}
	.close {
		@include border-radius(0 1em 1em 0);
		padding-right: .75em;
		padding-left: .5em;
		margin-right: .3em;
	}
	
	&:hover {
		text-decoration: none;
	}
	
	/* Colors */
	&.color2 > * {
		@include gradient-linear-hover(lighten($color2, 9%), lighten($color2, 13%));
		border-color: $color2;
	}
	&.color3 > * {
		@include gradient-linear-hover(lighten($color3, 9%), lighten($color3, 13%));
		border-color: $color3;
	}
}