/* ==|====================
   Module/Fontello
   ======================= */

@charset "UTF-8";

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello/fontello.eot?16435962");
  src: url("../fonts/fontello/fontello.eot?16435962#iefix") format('embedded-opentype'), url("../fonts/fontello/fontello.woff?16435962") format('woff'), url("../fonts/fontello/fontello.ttf?16435962") format('truetype'), url("../fonts/fontello/fontello.svg?16435962#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?16435962#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* opacity .8 */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-dribbble:before { content: '\44'; } /* 'D' */
.icon-linkedin:before { content: '\4c'; } /* 'L' */
.icon-twitter:before { content: '\54'; } /* 'T' */
.icon-email:before { content: '\5d'; } /* ']' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-tumblr:before { content: '\74'; } /* 't' */
.icon-videocam:before { content: '🎥'; } /* '\1f3a5' */
.icon-link:before { content: '🔗'; } /* '\1f517' */