/* ==|================
   Module/Form search
   =================== */

.form-search {
    input[type="text"],
    .formt-text {
        @include border-radius(2px 0 0 2px);
        border-right: none;
    }
    .btn {
        @include border-radius(0 2px 2px 0);
        vertical-align: top;
        padding: .35em .6em;
    }
} /* .form-search */