/* ==|===============
   Module/Text formatted (rich content)
   ================== */

.formatted {
    h1 {
        text-align: center;
        color: #fff;
        font: 3em/1.5;
        padding-bottom: 1em;
        text-transform: uppercase;
        text-shadow: 0 2px 4px rgba(#000, .5);
        letter-spacing: -2px;
    }
    h2 {
        margin: 1.3em 0 .5em;
    }
    p {
        text-align: justify;
        line-height: 1.5;
    }
}