/* ==|======================
   Module/Loader
   ========================= */

body {
	height: 100%;
}
.loader {
	text-align: center;
	position: fixed;
	top: 50%;
	width: 100%;

	.loader-icon {
		display: inline-block;
		background-image: url(../img/ajax-loader.gif);
		width: 24px;
		height: 24px;
	}

} /* .loader */


