/* ==|=======================================================================
   Module/Steps
   ========================================================================== */

.m-steps {
	font-size: 1.125em; /* 18/16 */
	color: #646464;
	background-color: #fff;
	@include box-shadow-ie(0, 1px, 3px, rgba(#000, 0.12), #ddd);
	width: 42em;
	margin: auto;
	@include clearfix();
	
	.step {
		position: relative;
		float: left;
		margin-left: -1.2em;
		
		> span {
			vertical-align: top;
		}
	}
	.head {
		width: 22px;
		height: 49px;
		float: left;
	}
	.body {
		height: 2.65em;
		line-height: 2.65em;
		float: left;
		padding: 0 1em;
	}
	.foot {
		background: $sprite-default -67px -21px;
		width: 22px;
		height: 49px;
		float: left;
	}
	.step-active {		
		color: #fff;
		@extend .step;
		
		.head {
			background: $sprite-default -126px -22px;
		}
		.body {
			background: #c73749;
			border: solid #c02c3e;
			border-width: 1px 0;
		}
		.foot {
			background-position: -93px -22px;
		}
	}
	.step-last {
		@extend .step; 
		
		.head {
			background: none;
			position: relative;
			width: 0;
		 		
			&::after {
				background: $sprite-default 0 -23px;
				width: 25px;
				height: 53px;
				position: absolute;
				right: -1.7em;
				content: " ";
				top: -1px;
			}
		}
	}	
	.num {
		background: $color2;
		border: solid 2px #fff;
		color: #fff;
		position: absolute;
		font: 300 .7em/1.5 $oswald;
		@include border-radius(2em);
		width: 1.4em;
		text-align: center;
		top: .9em;
		left: 0;
		padding: .2em;
	}
}




