/* ==|=======================================================================
   Module/Tagcloud
   ========================================================================== */

.m-tagcloud {
	padding-left: 0;
	li {
		display: inline-block;
		margin: 0 .6em .8em 0;
		a {
			border: 1px solid #ddd;
			display: block;
			padding: .4em .8em;
			@include border-radius(4px);
			@include box-shadow-multiple(inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, .05));
			@include transition();
		}
	}
}